.navbar {
	list-style-type: none;
	padding: 0 0 10px 0;
	font-family: "PT Serif", "Times New Roman", Georgia, Serif;
	border-bottom: 1px solid #5d5d5d;
}

.secondary {
	z-index: 1;
	position: absolute;
	margin-top: -140px;
	width: 100%;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

#banner-header {
	margin-top: 120px;
}

.el-icon-calendar:before {
	content: ' ';
}

.entry-content p {
	line-height: 22px;
}

.wrap.main-section .content .bg {
	padding-top:0px;
}

.nav-list {
	border: 0;
	background-color: #fff;
}

.nav-list > li {
	display: inline-block;
}	

#menu-menu-1 {
	margin-top: -100px;
	border:0;
	background-color: #fff;
}
